{% extends 'base.html' %}

    <h4>{% block title %} Добро пожаловать в Svyazist WebReports {% endblock title %}</h4>
 {% block content %}
    <div class="container text-left">
    <h4>Групп отчетов: {{ reports_group|length }}</h4>
    <h4>Количество отчетов в группах: {{ reports_list|length }}</h4><hr>
    <h4>Выбор отчета для формирования:</h4><hr>
    </div>
    <div class="container text-center">
    {% for item in reports_list %}
        {% if item['DATE_REQ'] == 1 %}
        <div class="container-fluid row" style="width: auto; text-align: left">
            <div class="col" style="width: auto;">
                <h6>{{ item['NAME'] }}</h6>
            </div>
            <div class="col" style="width: auto; text-align: end">
                <form action="{{ item['METHOD_NAME'] }}" method="post">
                <select name="abType" id="abTypeList">
                    <option value="0">Выбор типа абонента...</option>
                    <option value = "1">По юр.лицам</option>
                    <option value = "0">По физ.лицам</option>
                </select>
                <input type="date" name="nDate" value="2023-01-01"/>
                <input type="date" name="kDate" value="2023-12-01"/>
                <input type="submit" value="Выполнить" />
                </form>
            </div>
        </div>
        {% elif item['DATE_REQ'] == 0 %}
        <div class="container-fluid row" style="width: auto; text-align: left">
            <div class="col">
                <h6>{{ item['NAME'] }}</h6>
            </div>
            <div class="col" style="width: auto; text-align: end">
                <form action="{{ item['METHOD_NAME'] }}" method="get">
                <input type="submit" value="Выполнить" />
                </form>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock content %}