{% extends 'base.html' %}

{% block title %}
    {% if nDate or kDate %}
    Выборка за период c: {{ nDate }} по: {{ kDate }}
    {% elif  not nDate or kDate %}
    Полная выборка
    {% endif %}
{% endblock title %}

{%  block content %}

<h4>Количество столбцов(аттрибутов) в списке: {{ data[0]|length }}</h4>
<h4>Количество элементов в списке: {{ data|length }}</h4>


<div class="table-responsive">
<table class="table table-striped table-hover table-condensed table-bordered table-responsive">
    <thead>
        <tr align="center">
        {# Первую ячейку объеденим и сделаем равной по ширине всем столбцам #}
            {% if nDate or kDate %}
            <th colspan="{{ data[0]|length }}" scope="col">Выборка данных за период c: {{ nDate }} по: {{ kDate }}</th>
            {% elif  not nDate or kDate %}
            <th colspan="{{ data[0]|length }}" scope="col">Полная выборка</th>
            {% endif %}
        </tr>
        <tr align="center">
        {# Выведем наименование заголовков для таблицы, получив их из наименования ключей в первом элементе словаря #}
            {%  for row in data[0] %}
                <th>{{ row.upper() }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {# Развернем словари, вложенные в список #}
    {%  for row in data %}
    <tr align="center">
        {# Для каждого ключа словаря достанем значение #}
        {% for value in row %}
        <td>
            {# Поместим ранее полученное значение ключа в ячейку таблицы #}
            {{ row[value] if row[value]}}
        </td>
        {% endfor %}
    </tr>
    {%  endfor %}
    </tbody>
</table>
</div>

{% endblock content %}