{% extends 'base.html' %}

{% block title %}
    {% if nDate or kDate %}
    Выборка за период c: {{ nDate }} по: {{ kDate }}
    {% elif  not nDate or kDate %}
    Полная выборка
    {% endif %}
{% endblock title %}

{%  block content %}

<h4>Количество столбцов(аттрибутов) в списке: {{ data[0]|length }}</h4>
<h4>Количество элементов в списке: {{ data|length }}</h4>
<table id="reportTable" class="table-hover table-striped dataTable table-group-divider" style="width: 100%; text-align: center">
    <thead>
        <tr>
        {# Ячейки первой строки объеденим #}
            {% if nDate or kDate %}
            <th colspan="{{ data[0]|length }}" scope="col" style="text-align: center">
                Выборка данных за период c: {{ nDate }} по: {{ kDate }}
            </th>
            {% elif  not nDate or kDate %}
            <th colspan="{{ data[0]|length }}" scope="col" style="width: auto; text-align: center">
                Полная выборка
            </th>
            {% endif %}
        </tr>
        <tr>
        {# Выведем наименование заголовков для таблицы, получив их из наименования ключей в первом элементе словаря #}
            {%  for row in data[0] %}
                <th style="text-align: center">
                    {{ row.upper() }}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {# Развернем словари, вложенные в список #}
    {%  for row in data %}
    <tr style="text-align: center">
        {# Для каждого ключа словаря достанем значение #}
        {% for value in row %}
        <td style="text-align: center">
            {# Поместим ранее полученное значение ключа в ячейку таблицы #}
            {{ row[value] if row[value]}}
        </td>
        {% endfor %}
    </tr>
    {%  endfor %}
    </tbody>
    <tfoot>
        <tr style="text-align: center">
            {%  for row in data[0] %}
            <th style="text-align: center">
                {{ row.upper() }}
            </th>
            {% endfor %}
        </tr>
    </tfoot>
</table>
{% endblock content %}